/*Visual do site*/
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Jost', sans-serif;
  background: linear-gradient(to bottom, #1e88e5, white);
}

/* parte de cima da pagina*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: top;
  padding: 10px 20px;
  background-color: black;
  color: white;
  z-index: 1000;
}

.logo {
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 10px;
}

.logo img {
  height: 30px;
  margin-right: 10px;
}

.nav-items {
  display: flex;
}

.nav-items span {
  margin-left: 15px;
  cursor: pointer;
}
.login_cadastro{
  right: 0;
  position: fixed;
  cursor: pointer;
}

/*Texto do inicio*/
.texto_inicio {
  text-align: center;
  color: #003366; /* Azul escuro que contrasta bem com fundo azul claro e branco */
  font-size: 20px;
  margin-top: 100px;
  padding: 20px;
  max-width: 800px;
  margin: 100px auto;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.5); /* Sombra sutil para melhorar legibilidade */
}