/*Parte de login e senha*/
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Jost', sans-serif;
  background: linear-gradient(to bottom, black, purple);
}

.main {
  width: 350px;
  height: 450px;
  overflow: hidden;
  background: #eee;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}

#chk {
  display: none;
}

label {
  color: #fff;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  font-weight: bold;
  cursor: pointer;
  transition: .5s ease-in-out;
}

input {
  width: 60%;
  height: 10px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 5px;
}

button {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #573b8a;
  font-size: 1em;
  font-weight: bold;
  margin-top: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: .2s ease-in;
  cursor: pointer;
}

button:hover {
  background: #6d44b8;
}

.login {
  background: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login label {
  color: #573b8a;
  transform: scale(.6);
  padding-top: 15px;
}

/* parte de cima da pagina*/
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: top;
  padding: 10px 20px;
  background-color: black;
  color: white;
  z-index: 1000;
}

.logo {
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 10px;
}

.logo img {
  height: 30px;
  margin-right: 10px;
}

.nav-items {
  display: flex;
}

.nav-items span {
  margin-left: 15px;
  cursor: pointer;
}

.aluno{
  right: 0;
  position: fixed;
  cursor: pointer
}